<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Title </mat-label>
        <input
          matInput
          name="title"
          type="text"
          [(ngModel)]="createMovie.title"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Description </mat-label>
        <input
          matInput
          name="description"
          type="text"
          [(ngModel)]="createMovie.description"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Genre</mat-label>
        <mat-select [(ngModel)]="cID" name="Genre">
          @for(c of cate; track c) {
          <mat-option [value]="c.id">{{ c.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" (click)="create()">
        Create
      </button>
    </div>
  </form>
</div>
