<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Name </mat-label>
        <input
          matInput
          name="title"
          type="text"
          [(ngModel)]="createGenre.name"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" (click)="create()">
        Create
      </button>
    </div>
  </form>
</div>
