<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Name </mat-label>
        <input matInput name="title" type="text" [(ngModel)]="editGenre.name" />
      </mat-form-field>
    </div>
    <div class="flex">
      <div class="flex justify-around">
        <button mat-raised-button (click)="toHome()">Cancel</button>
        <button mat-raised-button color="primary" (click)="edit()">Edit</button>
      </div>
    </div>
  </form>
</div>
